@charset "utf-8";

/*header*/
header#header_wrap{width: 980px; height: 100px; margin:0 auto; background-color:gray; position: relative;}
header#header_wrap>h1{width: 100px; margin:0 auto; background-color:#edabe8; text-align:center;}
header#header_wrap>div.util_menu{background-color:skyblue; position: absolute; right: 0;top: 10px; text-align:center;}

/*header#header_wrap>div.util_menu>ul:after{content:"";clear:both;display:block;}
*/header#header_wrap>div.util_menu>ul>li{float:left;padding:0 15px; border-right: 1px solid #000;}
header#header_wrap>div.util_menu>ul>li:last-child{border:none;}
header#header_wrap>div.util_menu>ul>li>a{display:block; line-height:35px;}
header#header_wrap>div.util_menu>ul>li:hover{background-color:blue;}
header#header_wrap>div.util_menu>ul>li:hover a{color:white;}


header#header_wrap>div.gnb_wrap{width: 980px;height: 45px;background-color:violet; position: absolute; bottom: 0; text-align:center;}
/*header#header_wrap>div.gnb_wrap>ul:after{content:"";clear:both;display:block;}*/
header#header_wrap>div.gnb_wrap>ul>li{float:left; width: 163.33px;}
header#header_wrap>div.gnb_wrap>ul>li:hover{background-color:red;}
header#header_wrap>div.gnb_wrap>ul>li>a{line-height:45px; display:block;}


